---
import Header from "../components/Header.astro";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";

export async function getStaticPaths() {
  const builderApiPublicKey = import.meta.env.BUILDER_API_PUBLIC_KEY;
  const builderModel = import.meta.env.BUILDER_PAGE_MODEL;

  const { results: pages } = await fetch(
    `https://cdn.builder.io/api/v3/content/${builderModel}?${new URLSearchParams({
      apiKey: builderApiPublicKey,
      cachebust: "true",
    }).toString()}`
  )
    .then((res) => res.json())
    .catch();

  return pages.map(page => ({
    params: { slug: page.data.url },
    props: page,
  }))
}
const { data: { title, description, content }} = Astro.props;
---

<!doctype html>
<html lang="en">
<head>
  <BaseHead title={title} description={description} />
</head>
<body>
<Header title={title} />
<main>
  <Fragment set:html={content} />
</main>
<Footer />
</body>
</html>

