---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const builderApiPublicKey = import.meta.env.BUILDER_API_PUBLIC_KEY;
const builderModel = import.meta.env.BUILDER_HOMEPAGE_MODEL;

const { data: { title, description, content } } = await fetch(
	`https://cdn.builder.io/api/v3/html/${builderModel}?${new URLSearchParams({
		apiKey: builderApiPublicKey,
		cachebust: "true",
	}).toString()}`
)
	.then((res) => res.json())
	.catch();
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body>
		<Header title={title} />
		<main>
			<Fragment set:html={content} />
		</main>
		<Footer />
	</body>
</html>
