---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import BlogBottomSection from '../components/BlogBottomSection.astro';

const builderApiPublicKey = import.meta.env.BUILDER_API_PUBLIC_KEY;
const builderModel = import.meta.env.BUILDER_HOMEPAGE_MODEL;

const { data: { title, description, html } } = await fetch(
	`https://cdn.builder.io/api/v3/html/${builderModel}?${new URLSearchParams({
		apiKey: builderApiPublicKey,
		cachebust: "true",
	}).toString()}`
)
	.then((res) => res.json())
	.catch();

---
<style>
  section.blue {
    background-color: var(--color-light-blue);
  }
  section.black {
    background-color: var(--color-black);
  }
  section.dark-white {
    background-color: var(--color-light-gray);
  }
  section h1 {
    font-size: 48px;
    padding: 0 30px;
    overflow-wrap: break-word;
    text-align: center;
  }
  .flexible-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    > div {
      padding: 2rem 3rem;
      font-size: 26px;
      font-weight: 400;
      line-height: 1.3em;
      text-align: center;
      flex: 1;
    }
    > p {
      font-size: 24px;
    }
  }
  .card {
    width: 100%;
    min-height: 100%;
    padding: 0 2%;
    border-radius: 20px;
    box-shadow: 0 6px 6px 0 rgba(var(--black),0.3);
    background-color: var(--color-light-blue);
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    > div {
      height: auto;
    }
    h6 {
      font-size: 30px;
      font-weight: 400;
      color: var(--color-gray);
    }
  }
  section.section-first {
    color: var(--color-gray);
    .flexible-row > div {
      text-align: left;
    }
  }
  section.section-second, section.section-third, section.section-fourth, section.section-fifth, section.section-sixth,
  section.section-seventh, section.section-eighth, section.section-ninth, section.section-tenth, section.section-eleventh,
  section.section-twelfth, section.section-fourteenth {
    padding: 80px 0;
  }
  section.section-second h1, section.section-third h1, section.section-fourth h1, section.section-fifth h1,
  section.section-sixth h1, section.section-seventh h1, section.section-eighth h1, section.section-ninth h1,
  section.section-eleventh h1, section.section-twelfth h1, section.section-fourteenth h1 {
    font-weight: 700;
    line-height: 1.3em;
    margin-bottom: 40px;
  }
  section.section-second p, section.section-third p, section.section-fifth p, section.section-sixth p,
  section.section-seventh p, section.section-eleventh p {
    font-size: 24px;
    color: var(--color-gray);
    font-weight: 400;
    text-align: center;
  }
  section.section-third p {
    font-size: 30px;
    margin-bottom: 10px;
  }
  section.section-fourth, section.section-fourth h1, section.section-eighth h1 {
    color: var(--color-white);
  }
  section.section-fourth .background {
    background: url("https://cdn.builder.io/api/v1/image/assets%2F04802123bdce4ca098b62cecb2bbd45b%2Ffce64ae109c94954ad8f42764dbccfcf") no-repeat 50% center;
    background-size: cover;
  }
  section.section-fifth h4 {
    font-size: 30px;
    height: 70px;
  }
  section.section-sixth {
    .flexible-row > div {
      max-width: 12vw;
      padding: 0.5em 1em;
      p {
        font-size: 24px;
      }
    }
  }
  section.section-seventh {
    margin-bottom: 2em;
    h4 {
      font-size: 30px;
      font-weight: 700;
    }
    p {
      font-size: 24px;
      padding: 0 0.7em;
    }
    .flexible-row > div {
      max-width: 27vw;
      padding: 2rem 2.5rem;
    }
  }
  section.section-eighth .background {
    background: url("https://cdn.builder.io/api/v1/image/assets%2F04802123bdce4ca098b62cecb2bbd45b%2F144d9137e0084304aa519bee8e1def85") no-repeat 50% center;
    background-size: cover;
  }
  section.section-eighth h6 {
    font-weight: normal;
    font-size: 30px;
    color: var(--color-gray);
  }
  section.section-eighth .icon-video {
    cursor: pointer;
  }
  section.section-ninth > .container {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 3.5em;
    padding: 0 1.5em;
  }
  section.section-eleventh p {
    margin-bottom: 20px;
  }
  section.section-eleventh a {
    display: inline-block;
    margin-top: 20px;
    color: var(--color-link-blue);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  section.section-thirteenth p {
    display: flex;
    padding-left: 60px;
    font-size: 28px;
  }
  section.section-thirteenth .flex-end {
    justify-content: flex-end;
  }
  section.section-thirteenth img {
      height: 70px;
  }
  div.donate {
    text-align: center;
    margin: 30px 0;
  }
  .left-bigtext {
    text-align: left;
    font-size: 30px;
    margin-block-start: 0;
    margin-block-end: 0;
    color: var(--color-gray);
    line-height: 1.3em;
  }
  @media (max-width: 765px) {
    .flexible-row {
      flex-direction: column;
      padding: 20px 0;
      align-items: center;
      > div {
        width: 95vw;
        padding: 1em 0;
        max-width: 100vw;
      }
    }
    section.section-sixth {
      .flexible-row > div {
        max-width: 100vw;
      }
    }
    section.section-ninth > .container {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
    }
    section.section-thirteenth p {
      padding-left: 20px;
    }
  }
</style>
<script>
  document.querySelectorAll('i.icon-video').forEach(icon => {
    icon.addEventListener('click', () => {
      icon.style.display = 'none';
      icon.nextElementSibling.style.display = 'block';
      const player = videojs(icon.nextElementSibling.id);
      player.play();
    });
  });
</script>

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
    <link href="//vjs.zencdn.net/8.3.0/video-js.min.css" rel="stylesheet">
    <script is:inline src="//vjs.zencdn.net/8.3.0/video.min.js"></script>
	</head>
	<body>
		<Header title={title} />
		<div class="main">
			<Fragment set:html={html} />
      <section class="blue section-first">
        <div class="flexible-row container">
          <div>
            <i class="icon icon-checkmark" />
            Help Ukrainian women and children survive
          </div>
          <div>
            <i class="icon icon-checkmark" />
            Provide key equipment to military volunteers
          </div>
          <div>
            <i class="icon icon-checkmark" />
            Help end the carnage in Ukraine sooner
          </div>
        </div>
      </section>
      <section class="section-second container">
        <h1>
          Big international organizations get food and medicine into safe parts of Ukraine but we deliver it to trusted Ukrainians at the front
        </h1>
        <div class="flexible-row">
          <div>
            <i class="icon icon-female yellow medium" />
            <p>Ukrainian women and children <b>lack food, medicine and shelter</b></p>
          </div>
          <div>
            <i class="icon icon-cogs yellow medium" />
            <p>Ukraine's volunteer military <b>lacks basic equipment</b></p>
          </div >
          <div>
            <i class="icon icon-landmark yellow medium" />
            <p>Big organizations only go <b>part of the way</b></p>
          </div>
        </div>
      </section>
      <section class="dark-white section-third">
        <div class="container">
          <h1>
            Ukrainians shouldn't struggle with a lack of life-saving aid
          </h1>
          <p>
            We believe that Ukraine is ground zero for freedom. Ukrainians are fighting for their lives and they need life-saving aid now
          </p>
          <div class="donate">
            <a href="/#donate">
              <button class="donate-button">Donate now</button>
            </a>
          </div>
        </div>
      </section>
      <section class="photo-back section-fourth">
        <div class="background"></div>
        <div class="container">
          <h1>
            Since March 2022, we've sent more than $1 million in aid to areas near the front
          </h1>
          <div class="flexible-row">
            <div>
              <i class="icon icon-hospital yellow medium" />
              <p>22 hospitals stocked with medical supplies</p>
            </div>
            <div>
              <i class="icon icon-fire yellow medium" />
              <p>110+ Ukrainians evacuated from hot spots</p>
            </div>
            <div>
              <i class="icon icon-utensils yellow medium" />
              <p>More than 200 tons of food for cilivians at the front</p>
            </div>
          </div>
          <div class="flexible-row">
            <div>
              <i class="icon icon-plug yellow medium" />
              <p>17 generators to soldiers and civilians</p>
            </div>
            <div>
              <i class="icon icon-battery yellow medium" />
              <p>1500 kw power bank and drone for war crimes investigators</p>
            </div>
            <div>
              <i class="icon icon-satellite yellow medium" />
              <p>4 Starlinks to the Eastern front</p>
            </div>
          </div>
        </div>
      </section>
      <section class="section-fifth">
        <h1>
          Here’s how you can help us support Ukrainians
        </h1>
        <div class="flexible-row container">
          <div class="card gap-sm">
            <i class="icon icon-hand yellow medium" />
            <h4>
              1. You click here to “Donate now”
            </h4>
            <div>
              <p>You can make a <b>tax deductible donation</b> of any amount once or set up regular payments.</p>
            </div>
          </div>
          <div class="card gap-sm">
            <i class="icon icon-search yellow medium" />
            <h4>
              2. We save more Ukrainian lives
            </h4>
            <div>
              <p>Our team <b>goes to the front</b> and delivers essential equipment and life-saving aid.</p>
            </div>
          </div>
          <div class="card gap-sm">
            <i class="icon icon-carry yellow medium" />
            <h4>
              3. You get updates from the front
            </h4>
            <div>
              <p>You'll get <b>regular email updates</b> from the Ukraine Freedom Project founder.</p>
            </div>
          </div>
        </div>
        <div class="donate">
          <a href="/#donate">
            <button class="donate-button">Donate now</button>
          </a>
        </div>
      </section>
      <section class="dark-white section-sixth">
        <div class="container">
          <h1>
            Here's how your donations save lives
          </h1>
          <p>
            The Ukraine Freedom Project has a network of trusted Ukrainians to whom we send aid. We go to the front to make sure your donations are being spent well
          </p>
          <div class="flexible-row">
            <div>
              <i class="icon icon-coins yellow medium" />
              <p>1. You make a donation</p>
            </div>
            <div>
              <i class="icon icon-donate yellow medium" />
              <p>2. Ukraine Freedom Project collects funds</p>
            </div>
            <div>
              <i class="icon icon-school yellow medium" />
              <p>3. We buy and deliver life-saving aid</p>
            </div>
            <div>
              <i class="icon icon-parachute yellow medium" />
              <p>4. We verify your aid goes to people in need</p>
            </div>
            <div>
              <i class="icon icon-smile yellow medium" />
              <p>5. Ukrainians are fully equipped to survive and win this war</p>
            </div>
          </div>
        </div>
      </section>
      <section class="section-seventh container">
        <h1>
          Your donations will ease Ukrainian civilian suffering and help military volunteers
        </h1>
        <div class="flexible-row">
          <div>
            <img class="mb-sm shadow" src="https://cdn.builder.io/api/v1/image/assets%2F04802123bdce4ca098b62cecb2bbd45b%2Fc962f6b01cc340c38ce055495ac8c5d2" />
            <h4>Help women and children</h4>
            <p>Your $81 donation feeds 3 Ukrainian families for a week. Donate now to help hungry children.</p>
          </div>
          <div>
            <img class="mb-sm shadow" src="https://cdn.builder.io/api/v1/image/assets%2F04802123bdce4ca098b62cecb2bbd45b%2F166b05147d5147b2961d92aaf0ff7e3b" />
            <h4>Help military volunteers</h4>
            <p>With every $250 raised we can buy 1 generator for military volunteers at the front.</p>
          </div>
          <div>
            <img class="mb-sm shadow" src="https://cdn.builder.io/api/v1/image/assets%2F04802123bdce4ca098b62cecb2bbd45b%2F2ac8a6e44e154caf92282b0300c4035e" />
            <h4>Help Ukraine win this war</h4>
            <p>We take your donations into harm's way to end this war sooner.</p>
          </div>
        </div>
        <div class="donate">
          <a href="/#donate">
            <button class="donate-button">Donate now</button>
          </a>
        </div>
      </section>
      <section class="photo-back section-eighth">
        <div class="background"></div>
        <div class="container">
          <h1>See who we’ve already helped in Ukraine</h1>
          <div class="flexible-row">
            <div class="card gap-md">
              <i class="icon icon-quote grey small" />
              <h6><b>Artem,</b> Mariupol police officer turned soldier<br><br></h6>
              <i class="icon brand icon-video true-grey big mv-05"/>
              <video class="vjs-big-play-centered video-js vjs-default-skin vjs-fluid" id="videoPlayer1" controls playsinline style="display: none;">
                <source src="https://content.apisystem.tech/hls/medias/UjVKviKWm2EMqa4e49nB/media/transcoded_videos/640af8bfbf27c504223c370c_,53,32,16,00k.mp4.urlset/master.m3u8" type="application/x-mpegURL" />
                Your browser does not support the video tag.
              </video>
            </div>
            <div class="card gap-md">
              <i class="icon icon-quote grey small" />
              <h6><b>Iryna, Taras and Ivan,</b> refugees from the siege of Kyiv</h6>
              <i class="icon brand icon-video true-grey big mv-05"/>
              <video class="vjs-big-play-centered video-js vjs-default-skin vjs-fluid" controls id="videoPlayer2" style="display: none;">
                <source src="https://content.apisystem.tech/hls/medias/UjVKviKWm2EMqa4e49nB/media/transcoded_videos/640af8e6d29c8c03a1623207_,32,16,00k.mp4.urlset/master.m3u8" type="application/x-mpegURL" />
                Your browser does not support the video tag.
              </video>
            </div>
            <div class="card gap-md">
              <i class="icon icon-quote grey small" />
              <h6><b>Olena and Alex,</b> Poltava Down Syndrome community</h6>
              <i class="icon brand icon-video true-grey big mv-05"/>
              <video class="vjs-big-play-centered video-js vjs-default-skin vjs-fluid" controls id="videoPlayer3" style="display: none;">
                <source src="https://content.apisystem.tech/hls/medias/UjVKviKWm2EMqa4e49nB/media/transcoded_videos/640af8edd29c8c2326623209_,53,32,16,00k.mp4.urlset/master.m3u8" type="application/x-mpegURL" />
                Your browser does not support the video tag.
              </video>
            </div>
          </div>
        </div>
      </section>
      <section class="section-ninth">
        <h1>Trident Circle</h1>
        <div class="container mb-sm">
          <img src="https://cdn.builder.io/api/v1/image/assets%2F04802123bdce4ca098b62cecb2bbd45b%2F86e8314fab184989a8241bb8d754f619" />
          <p class="left-bigtext">You can make a one time donation, or you can commit to being a sustaining member of the Ukraine Freedom Project.<br>
            Our donors have been amazingly generous but the scale of contributions has been unpredictable.<br>
            A regular and consistent source of revenue would enhance our ability to plan, coordinate, source and, ultimately, help more Ukrainians.<br>
            Donors who commit to a recurring donation of any amount become part of our Trident Circle.</p>
          <p class="left-bigtext">Trident Circle members will have the opportunity to participate in periodic Zoom calls with Steven and Ukrainians who the Ukraine Freedom Project is helping.<br>
            Real live updates from ground zero for freedom in the world. You can ask questions about what is really going on in Ukraine.<br>
            You can make a monthly donation of <b>$10, $50, $100, $250</b> or any other amount you want.</p>
          <img class="shadow" src="https://cdn.builder.io/api/v1/image/assets%2F04802123bdce4ca098b62cecb2bbd45b%2Fae5cf4e36e974a8cbc3bf792b5dd21ed" />
        </div>
        <div class="donate">
          <a href="/#donate">
            <button class="donate-button">Donate now</button>
          </a>
        </div>
      </section>
      <section class="blue section-tenth">
        <a id="donate"></a>
        <div class="container">
          <h1>Join the community of Ukraine Freedom Project donors and help Ukrainians get their freedom back</h1>
          <center><div class="fr-widget" data-type="badge" data-variant="tower" data-width="450" data-url="https://fnd.us/ukrainefreedomproject"><a href="https://fundrazr.com" target="_blank"><img src="//static.fundrazr.com/widgets/powered-by.png" alt="Powered by FundRazr"></a></div></center>
          <script>(function() { var d = document, fr = d.createElement('script'); fr.type = 'text/javascript'; fr.async = true; fr.src = 'https://static.fundrazr.com/widgets/loader.js'; var s = d.getElementsByTagName('script')[0]; s.parentNode.insertBefore(fr, s);})();</script>
        </div>
      </section>
      <section class="section-eleventh">
        <h1>Board of advisors</h1>
        <div class="flexible-row container">
          <div>
            <img class="circle-image" src="https://cdn.builder.io/api/v1/image/assets%2F04802123bdce4ca098b62cecb2bbd45b%2F197f395662d54db89bf51df8be499866" />
            <p><b>Peter Roskam</b></p>
            <p>
              Former US Representative<br>
              <a href="https://www.linkedin.com/in/peter-roskam/" target="_blank">Link to bio</a>
            </p>
          </div>
          <div>
            <img class="circle-image shadow" src="https://cdn.builder.io/api/v1/image/assets%2F04802123bdce4ca098b62cecb2bbd45b%2F1091ce36f61c420383ff987dc55640cc" />
            <p><b>Julie Meier Wright</b></p>
            <p>
              Former California Secretary of Trade and Commerce<br>
              <a href="https://www.linkedin.com/in/julie-meier-wright-0116313/" target="_blank">Link to bio</a>
            </p>
          </div>
          <div>
            <img class="circle-image shadow" src="https://cdn.builder.io/api/v1/image/assets%2F04802123bdce4ca098b62cecb2bbd45b%2Fb507bfd2a78b46b9a17270366a3ce951" />
            <p><b>Jeffrey Krilla</b></p>
            <p>
              Former Deputy Assistant Secretary of State<br>
              <a href="https://www.linkedin.com/in/jeffreykrilla/" target="_blank">Link to bio</a>
            </p>
          </div>
          <div>
            <img class="circle-image shadow" src="https://cdn.builder.io/api/v1/image/assets%2F04802123bdce4ca098b62cecb2bbd45b%2Fb68d0b0cc12c459dbfd3b83418f01997" />
            <p><b>Katharina McFarland</b></p>
            <p>
              Former Assistant Secretary of Defense<br>
              <a href="https://www.nscai.gov/commissioners/hon-katherina-mcfarland/" target="_blank">Link to bio</a>
            </p>
          </div>
        </div>
      </section>
      <section class="dark-white section-twelfth">
        <h1>Media about Ukraine Freedom Project</h1>
        <div class="container">
          <div class="flexible-row">
            <div>
              <a href="https://www.washingtonexaminer.com/news/washington-secrets/ex-hill-chief-leads-humanitarian-effort-in-ukraine" target="_blank">
                <img class="height-100" src="https://cdn.builder.io/api/v1/image/assets%2F04802123bdce4ca098b62cecb2bbd45b%2F4eb45ea7705d40e390a13c8b622effdf" />
              </a>
            </div>
            <div>
              <a href="https://www.instagram.com/p/CuZ3jYJuPA-/" target="_blank">
                <img class="height-100" src="https://cdn.builder.io/api/v1/image/assets%2F04802123bdce4ca098b62cecb2bbd45b%2F79a47a494512406ea1654ce6b499d5c4?width=200&height=100&format=webp" />
              </a>
            </div>
            <div>
              <a href="https://www.businessinsider.com/american-helping-in-ukraine-steven-moore-rescue-mission-russia-putin-war-2022-4?r=US&IR=T" target="_blank">
                <img class="height-100" src="https://cdn.builder.io/api/v1/image/assets%2F04802123bdce4ca098b62cecb2bbd45b%2F3cd4c35f6faf4fff9930c89118e203f8" />
              </a>
            </div>
          </div>
          <div class="flexible-row align-center">
            <div>
              <a href="https://www.siriusxm.com/clips/clip/65cfb29a-195e-4b44-91fb-9e855ad51e03/b5ceb0a6-fd26-4050-b462-3c63d7c47c07" target="_blank">
                <img class="height-100" src="https://cdn.builder.io/api/v1/image/assets%2F04802123bdce4ca098b62cecb2bbd45b%2F662ff5dc42ed416ea61997edb2d72235" />
              </a>
            </div>
            <div>
              <a href="https://rollcall.com/2023/03/30/when-russia-invaded-this-former-house-staffer-rushed-to-ukraine/" target="_blank">
                <img src="https://cdn.builder.io/api/v1/image/assets%2F04802123bdce4ca098b62cecb2bbd45b%2F0a3f298701ed4a52a8f1873982a6f044" />
              </a>
            </div>
            <div>
              <a href="https://www.youtube.com/watch?v=G-eG98pOi0k" target="_blank">
                <img class="height-100" src="https://cdn.builder.io/api/v1/image/assets%2F04802123bdce4ca098b62cecb2bbd45b%2Fd6790cd1c2e843d59910da8e1a45b537" />
              </a>
            </div>
          </div>
        </div>
      </section>
      <section class="section-thirteenth">
        <div class="container flexible-row space-between">
          <p class="left-bigtext align-center">Follow us on social media</p>
          <div class="flexible-row flex-end gap-md">
            <a href="https://twitter.com/UKRAINEFREEDOM7" target="_blank">
              <img src="https://cdn.builder.io/api/v1/image/assets%2F04802123bdce4ca098b62cecb2bbd45b%2F42b0ee0e771542dfb1f40d596ffb5cf2" />
            </a>
            <a href="https://www.instagram.com/ukraine_freedom_project/" target="_blank">
              <img src="https://cdn.builder.io/api/v1/image/assets%2F04802123bdce4ca098b62cecb2bbd45b%2F92ed2a4a6f9742b491f5c854b0fd4a14" />
            </a>
          </div>
        </div>
      </section>
      <section class="dark-white gap-md section-fourteenth">
        <h1>We partner with organizations like...</h1>
        <div class="container">
          <div class="flexible-row">
            <div>
              <img class="height-100" src="https://cdn.builder.io/api/v1/image/assets%2F04802123bdce4ca098b62cecb2bbd45b%2F094b18d6787d4e3dbe28aa081bd0d1f9" />
            </div>
            <div>
              <img class="height-100" src="https://cdn.builder.io/api/v1/image/assets%2F04802123bdce4ca098b62cecb2bbd45b%2Fba3907f2fe774d7eb84e0a2655f38cd1" />
            </div>
            <div>
              <img class="height-100" src="https://cdn.builder.io/api/v1/image/assets%2F04802123bdce4ca098b62cecb2bbd45b%2Fd3bc52924c05449bb0689bc0d5bbce85" />
            </div>
          </div>
          <div class="flexible-row align-center">
            <div>
              <img class="height-100" src="https://cdn.builder.io/api/v1/image/assets%2F04802123bdce4ca098b62cecb2bbd45b%2F1fe4f3ac41d44e29aa3b213250ff3a13" />
            </div>
            <div>
              <img class="height-100" src="https://cdn.builder.io/api/v1/image/assets%2F04802123bdce4ca098b62cecb2bbd45b%2F7d829fe36db04e9bb792f5bef6463180" />
            </div>
            <div>
              <img class="height-100" src="https://cdn.builder.io/api/v1/image/assets%2F04802123bdce4ca098b62cecb2bbd45b%2F9628e87bfcd440f7929cb26faa0e83dd" />
            </div>
          </div>
        </div>
      </section>
		</div>
    <BlogBottomSection />
		<Footer />
	</body>
</html>
