---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import BlogBottomSection from '../components/BlogBottomSection.astro';

const builderApiPublicKey = import.meta.env.BUILDER_API_PUBLIC_KEY;
const builderModel = import.meta.env.BUILDER_HOMEPAGE_MODEL;

const { data: { title, description, html } } = await fetch(
	`https://cdn.builder.io/api/v3/html/${builderModel}?${new URLSearchParams({
		apiKey: builderApiPublicKey,
		cachebust: "true",
	}).toString()}`
)
	.then((res) => res.json())
	.catch();
---

<style>
  section.blue {
    background-color: var(--color-light-blue);
  }
  section.black {
    background-color: var(--color-black);
  }
  section > div.content {
    max-width: 1170px;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
    position: relative;
    z-index: 1;
  }
  section h1 {
    font-size: 48px;
    padding: 0 30px;
    overflow-wrap: break-word;
  }
  .flexible-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
  .mw-1170{
    max-width: 1170px;
  }
  .flexible-row > div {
    padding: 2rem 3rem;
    font-size: 26px;
    font-weight: 400;
    color: var(--color-gray);
    line-height: 1.3em;
  }
  section.blue.flexible-row > div {
    max-width: 20%;
  }

  .card {
    width: 100%;
    height: 100%;
    background-color: var(--color-light-blue);
    padding: 0 2%;
    gap: 1em;
    border-radius: 20px;
    box-shadow: 0 6px 6px 0 rgba(var(--black),0.3);
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .card > div {
    height: auto;
  }
  section.dark-white, section.template-1 {
    display: flex;
    padding: 6em 7em 2em 7em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--color-black);
    font-family: Inter;
    gap: 8vh;
  }
  section.humanitarian h1, section.dark-white h1 {
    font-weight: 700;
    line-height: 1.3em;
  }
  section.humanitarian p {
    font-size: 24px;
    color: var(--color-gray);
    font-weight: 400;
  }
  section.template-1 .flexible-row > div{
    max-width: 25%;
  }
  section.dark-white{
    background-color: var(--color-light-gray);
    gap: 1vh;
  }
  section.dark-white p {
    font-size: 30px;
    color: var(--color-gray);
    font-weight: 400;
    line-height: 1.3em;
  }
  section.dark-white > div{
    margin: 3vh 0 8vh 0;
  }
  section.volunteer {
    position: relative;
    background-color: var(--color-black);
    padding-top: 12vh;
  }
  section.volunteer .background {
    opacity: 0.3;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: url("/6405fba6d6f4795790151a6a.jpeg") no-repeat 50% center;
    background-size: cover;
  }
  section.volunteer h1 {
    color: var(--color-white);
    padding: 0 7vw;
    margin-bottom: 15vh;
  }
  section.volunteer p {
    color: var(--color-white);
    font-size: 24px;
    font-weight: 400;
  }
  section.cards{
    margin-bottom: 8vh;
  }
  section.cards .flexible-row {
    width: 100vw;
  }
  section.cards .card{
    padding: 3em 1em 1.5em 1em;
    flex: 1;
  }
  section.cards p{
    font-size: 24px;
    margin-block-start: 0;
    margin-block-end: 0;
  }
  section.cards h4 {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.3em;
    margin:0;
  }
  section.donation{
    gap: 1em;
  }
  section.donation .flexible-row > div p {
    font-size: 24px;
  }
  section.donation .flexible-row > div {
    padding: 0.5em 1em;
    max-width: 12vw;
  }
  section.military {
    margin-bottom: 2em;
  }
  section.military h4 {
    font-size: 30px;
    font-weight: 700;
  }
  section.military p {
    font-size: 24px;
    padding: 0 0.7em;
  }
  section.military .flexible-row > div {
    max-width: 27vw;
    padding: 2rem 2.5rem;
  }
  .military-image {
    margin-bottom: 1em;
    box-shadow: 0 4px 3px #00000026, 0 0 2px #00000026;
  }
  @media (max-width: 765px){
    .flexible-row {
      flex-direction: column;
      padding: 20px 0;
      align-items: center;
    }
    .flexible-row > div, section.template-1 .flexible-row > div {
      width: calc(100% - 20px);
      padding: 10px;
      max-width: 100vw;
    }
  }
</style>

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body>
		<Header title={title} />
		<div class="main">
			<Fragment set:html={html} />
      <section class="blue flexible-row">
        <div>
          <i class="icon icon-checkmark" />
          Help Ukrainian women and children survive
        </div>
        <div>
          <i class="icon icon-checkmark" />
          Provide key equipment to military volunteers
        </div>
        <div>
          <i class="icon icon-checkmark" />
          Help end the carnage in Ukraine sooner
        </div>
      </section>
      <section class="humanitarian template-1">
        <h1>
          Big international organizations get food and medicine into safe parts of Ukraine but we deliver it to trusted Ukrainians at the front
        </h1>
        <div class="flexible-row mw-1170">
          <div>
            <i class="icon icon-female yellow-icon" />
            <p>Ukrainian women and children <b>lack food, medicine and shelter</b></p>
          </div>
          <div>
            <i class="icon icon-cogs yellow-icon" />
            <p>Ukraine's volunteer military <b>lacks basic equipment</b></p>
          </div >
          <div>
            <i class="icon icon-landmark yellow-icon" />
            <p>Big organizations only go <b>part of the way</b></p>
          </div>
        </div>
      </section>
      <section class="dark-white">
        <h1>
          Ukrainians shouldn't struggle with a lack of life-saving aid
        </h1>
        <p>
          We believe that Ukraine is ground zero for freedom. Ukrainians are fighting for their lives and they need life-saving aid now
        </p>
        <div>
          <a href="/#donate">
            <button class="donate-button">Donate now</button>
          </a>
        </div>
      </section>
      <section class="volunteer template-1">
        <div class="background"></div>
        <div class="content">
          <h1>
            Since March 2022, we've sent more than $1 million in aid to areas near the front
          </h1>
          <div class="flexible-row mw-1170">
            <div>
              <i class="icon icon-hospital yellow-icon" />
              <p>22 hospitals stocked with medical supplies</p>
            </div>
            <div>
              <i class="icon icon-fire yellow-icon" />
              <p>110+ Ukrainians evacuated from hot spots</p>
            </div>
            <div>
              <i class="icon icon-utensils yellow-icon" />
              <p>More than 200 tons of food for cilivians at the front</p>
            </div>
          </div>
          <div class="flexible-row mw-1170">
            <div>
              <i class="icon icon-plug yellow-icon" />
              <p>17 generators to soldiers and civilians</p>
            </div>
            <div>
              <i class="icon icon-battery yellow-icon" />
              <p>1500 kw power bank and drone for war crimes investigators</p>
            </div>
            <div>
              <i class="icon icon-satellite yellow-icon" />
              <p>4 Starlinks to the Eastern front</p>
            </div>
          </div>
        </div>
      </section>
      <section class="cards template-1">
        <h1>
          Here’s how you can help us support Ukrainians
        </h1>
        <div class="flexible-row mw-1170">
          <div class="card">
            <i class="icon icon-hand yellow-icon" />
            <h4>
              1. You click here to “Donate now”
            </h4>
            <div>
              <p>You can make a <b>tax deductible donation</b> of any amount once or set up regular payments.</p>
            </div>
          </div>
          <div class="card">
            <i class="icon icon-search yellow-icon" />
            <h4>
              2. We save more Ukrainian lives
            </h4>
            <div>
              <p>Our team <b>goes to the front</b> and delivers essential equipment and life-saving aid.</p>
            </div>
          </div>
          <div class="card">
            <i class="icon icon-carry yellow-icon" />
            <h4>
              3. You get updates from the front
            </h4>
            <div>
              <p>You'll get <b>regular email updates</b> from the Ukraine Freedom Project founder.</p>
            </div>
          </div>
        </div>
        <div>
          <a href="/#donate">
            <button class="donate-button">Donate now</button>
          </a>
        </div>
      </section>
      <section class="dark-white donation">
      <h1>
        Here's how your donations save lives
      </h1>
      <p>
        The Ukraine Freedom Project has a network of trusted Ukrainians to whom we send aid. We go to the front to make sure your donations are being spent well
      </p>
      <div class="flexible-row mw-1170">
        <div>
          <i class="icon icon-coins yellow-icon" />
          <p>1. You make a donation</p>
        </div>
        <div>
          <i class="icon icon-donate yellow-icon" />
          <p>2. Ukraine Freedom Project collects funds</p>
        </div>
        <div>
          <i class="icon icon-school yellow-icon" />
          <p>3. We buy and deliver life-saving aid</p>
        </div>
        <div>
          <i class="icon icon-parachute yellow-icon" />
          <p>4. We verify your aid goes to people in need</p>
        </div>
        <div>
          <i class="icon icon-smile yellow-icon" />
          <p>5. Ukrainians are fully equipped to survive and win this war</p>
        </div>
      </div>
      </section>
      <section class="military template-1">
        <h1>
          Your donations will ease Ukrainian civilian suffering and help military volunteers
        </h1>
        <div class="flexible-row mw-1170">
          <div>
            <img class="military-image" src="/640a707f0fb9a98589db0a68.jpeg">
            <h4>Help women and children</h4>
            <p>Your $81 donation feeds 3 Ukrainian families for a week. Donate now to help hungry children.</p>
          </div>
          <div>
            <img class="military-image" src="/640a707fcb193511a1932ab6.jpeg">
            <h4>Help military volunteers</h4>
            <p>With every $250 raised we can buy 1 generator for military volunteers at the front.</p>
          </div>
          <div>
            <img class="military-image" src="/640a707ff174f338a8641e44.jpeg">
            <h4>Help Ukraine win this war</h4>
            <p>We take your donations into harm's way to end this war sooner.</p>
          </div>
        </div>
        <div>
          <a href="/#donate">
            <button class="donate-button">Donate now</button>
          </a>
        </div>
      </section>
      <section class="blue">
        <a id="donate"></a>
        <div class="content">
          <h3>Join the community of Ukraine Freedom Project donors and help Ukrainians get their freedom back</h3>
          <center><div class="fr-widget" data-type="badge" data-variant="tower" data-width="450" data-url="https://fnd.us/ukrainefreedomproject"><a href="https://fundrazr.com" target="_blank"><img src="//static.fundrazr.com/widgets/powered-by.png" alt="Powered by FundRazr"></a></div></center>
          <script>(function() { var d = document, fr = d.createElement('script'); fr.type = 'text/javascript'; fr.async = true; fr.src = 'https://static.fundrazr.com/widgets/loader.js'; var s = d.getElementsByTagName('script')[0]; s.parentNode.insertBefore(fr, s);})();</script>
        </div>
      </section>
		</div>
    <BlogBottomSection />
		<Footer />
	</body>
</html>
