---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import BlogBottomSection from '../components/BlogBottomSection.astro';

const builderApiPublicKey = import.meta.env.BUILDER_API_PUBLIC_KEY;
const builderModel = import.meta.env.BUILDER_HOMEPAGE_MODEL;
const hi = '';

const { data: { title, description, html } } = await fetch(
	`https://cdn.builder.io/api/v3/html/${builderModel}?${new URLSearchParams({
		apiKey: builderApiPublicKey,
		cachebust: "true",
	}).toString()}`
)
	.then((res) => res.json())
	.catch();
---

<style>
  .blue {
    background-color: #f0f5ff;
  }
  .content {
    max-width: 1170px;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
  }
</style>

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body>
		<Header title={title} />
		<div class="main">
			<Fragment set:html={html} />
      <section class="blue">
        <a id="donate"></a>
        <div class="content">
          <h3>Join the community of Ukraine Freedom Project donors and help Ukrainians get their freedom back</h3>
          <center><div class="fr-widget" data-type="badge" data-variant="tower" data-width="450" data-url="https://fnd.us/ukrainefreedomproject"><a href="https://fundrazr.com" target="_blank"><img src="//static.fundrazr.com/widgets/powered-by.png" alt="Powered by FundRazr"></a></div></center>
          <script>(function() { var d = document, fr = d.createElement('script'); fr.type = 'text/javascript'; fr.async = true; fr.src = 'https://static.fundrazr.com/widgets/loader.js'; var s = d.getElementsByTagName('script')[0]; s.parentNode.insertBefore(fr, s);})();</script>
        </div>
      </section>
      <section></section>
      <section></section>
      <section></section>
		</div>
    <BlogBottomSection />
		<Footer />
	</body>
</html>
