---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';

const { data: { title, description, publishDate, coverimage, alttextimage, content, tags }, lastUpdated } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			main {
				width: calc(100% - 2em);
				max-width: 100%;
				margin: 0;
			}
			.hero-image {
				width: 100%;
			}
			.hero-image img {
				display: block;
				margin: 0 auto;
				border-radius: 12px;
				box-shadow: var(--box-shadow);
			}
			.prose {
				width: 720px;
				max-width: calc(100% - 2em);
				margin: auto;
				padding: 1em;
				color: rgb(var(--gray-dark));
			}
			.title {
				margin-bottom: 1em;
				padding: 1em 0;
				text-align: center;
				line-height: 1;
			}
			.title h1 {
				margin: 0 0 0.5em 0;
			}
			.date {
				margin-bottom: 0.5em;
				color: rgb(var(--gray));
			}
			.last-updated-on {
				font-style: italic;
			}

      .blog-left-arrow {
        margin-right: .5em
      }

      .blog-left-arrow:before {
        content: "\f060";
        font-family: Font Awesome\ 5 Free;
        font-style: normal;
        font-weight: 700
      }

      a.blog-back-button {
        color: #6b7280;
        cursor: pointer;
        display: block;
        font-size: 13px;
        margin-top: 1em;
        text-decoration: none;
      }

      .blog-tags {
        clear: both;
        padding: 1em 0
      }

      .blog-tags .tag {
        background-color: #e5e7eb;
        border-radius: 10px;
        color: #6b7280;
        font-size: 13px;
        margin-right: 5px;
        padding: 5px 10px
      }

      .blog-author-details {
        border-color: #e5e7eb;
        border-style: solid;
        border-left: 1px;
        border-right: 1px;
      }

      .blog-author-container {
        display: flex;
        justify-content: center;
        margin: 1em auto;
      }

      .social-icon {
        height: 13px;
        width: 13px
      }

      .blog-author {
        align-items: center;
        display: flex;
        margin: auto
      }

      .blog-author .blog-author-image {
        border-radius: 100px;
        height: 36px;
        width: 36px
      }

      .blog-author .blog-author-name {
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        margin: 1em .5em 1em;
      }

      .blog-author-description {
        color: #6b7280;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        text-align: center;
        margin-bottom: 0;
      }

      .blog-author-social-icons {
        text-align: center
      }

      .blog-author-social-icons a {
        color: #6b7280!important;
        margin: .5em;
        text-decoration: none!important
      }

      .social-icon.facebook:before {
        content: "\f39e"
      }

      .social-icon.facebook:before,.social-icon.instagram:before {
        font-family: Font Awesome\ 5 Brands;
        font-style: normal;
        font-weight: 700
      }

      .social-icon.instagram:before {
        content: "\f16d"
      }

      .social-icon.twitter:before {
        content: "\f099"
      }

      .social-icon.linkedin:before,.social-icon.twitter:before {
        font-family: Font Awesome\ 5 Brands;
        font-style: normal;
        font-weight: 700
      }
    </style>
	</head>

	<body>
		<Header />
		<main>
			<article>
				<div class="hero-image">
					{coverimage && <img width={1020} height={510} src={coverimage} alt={alttextimage} />}
				</div>
				<div class="prose">
					<div class="title">
						<div class="date">
							<FormattedDate date={new Date(publishDate ?? lastUpdated)} />
						</div>
						<h1>{title}</h1>
						<hr />
					</div>
					<Fragment set:html={content} />
          <div class="blog-tags">
            {tags.map(tag => (<span class="tag">{tag}</span>))}
          </div>
          <div class="blog-author-details">
            <div class="blog-author-container">
              <div style="display:grid;">
                <div class="blog-author">
                  <img class="blog-author-image" src="/6409ecdbf174f3583a63b7de.jpeg" alt="Steven Moore is a political strategist and public opinion researcher who has a track record of running towards danger to lend a helping hand.">
                  <p class="blog-author-name">Steven Moore</p>
                </div>
                <p class="blog-author-description">Steven Moore is a political strategist and public opinion researcher who has a track record of running towards danger to lend a helping hand.</p>
                <div class="blog-author-social-icons">
                  <a href="https://www.facebook.com/steven.e.moore" target="_blank"><i class="facebook social-icon"></i></a>
                  <a href="https://twitter.com/UKRAINEFREEDOM7" target="_blank"><i class="twitter social-icon"></i></a>
                  <a href="https://www.instagram.com/ukraine_freedom_project/" target="_blank"><i class="instagram social-icon"></i></a>
                </div>
              </div>
            </div>
          </div>
          <a class="blog-back-button" href="/blog"><i class="blog-left-arrow"></i><span>Back to Blog</span></a>
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
